body {
    background-color: var(--primary--2);
    text-align: center;
}

.main-container {
    display: flex;
    flex-direction: column;
    padding: 1em;
    border-radius: 25px;
    background-color: var( --primary-1);
    box-shadow: 0 0 15px #e3694b;

}

.gallery-container {
    display: grid;
    grid-template-columns:
        minmax(10px, 1fr);
    gap: 1em;
}

.canvas {
    display: flex;
    justify-content: center;
    gap: 2em;
}


img {
    max-width: 100%;
    box-sizing: border-box;
}

.canvas-container {
    background-color: var(--primary--1);
    border: 1em solid var(--primary--1);
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 0 0 15px #ffdfbd;

}