.gallery-container img {
    transition: filter 0.4s ease;
}

.gallery-container img:hover {
    filter: grayscale(100%);
    cursor: pointer;
}

img {
    max-width: 100%;
    box-sizing: border-box;
    border-radius: 25px;
}

.gallery-extras {
    height: 50px;
    width: 100px;

    background-color:  #d08cb6;
}